body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F7;
}

header, footer {
    color: #F9F7F7;
    background-color: #3F72AF;
}

header {
    padding-top: .5em;
    padding-bottom: .5em;
}

footer {
    padding-top: .5em;
    padding-bottom: .5em;
}

header > h1, footer > p {
    text-align: center;
}
/*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
a {
    color: #F9F7F7;
    font-weight: bold;
}